<launch>
  <!-- > type="nodetype" -->
  <!-- >     Node type. There must be a corresponding executable with the same name. -->
  <!-- -\- https://wiki.ros.org/roslaunch/XML/node -->
  <!-- Yep, it has to be an executable, but that executable must be installed to the -->
  <!-- CATKIN_PACKAGE_BIN_DESTINATION. `roslaunch` only finds executables installed -->
  <!-- to the CATKIN_PACKAGE_BIN_DESTINATION and definitely NOT the -->
  <!-- CATKIN_GLOBAL_BIN_DESTINATION. Because of course it does. -->

  <node pkg="my_project"
        name="my_project"
        type="my-project"
        />
</launch>
